---
Checks:           'cppcoreguidelines-*,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-macro-usage,-cppcoreguidelines-pro-type-cstyle-cast,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,modernize-*,clang-analyzer-*,misc-*,-modernize-use-trailing-return-type,-modernize-avoid-c-arrays,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-special-member-functions,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-avoid-do-while,-cppcoreguidelines-avoid-c-arrays,-misc-non-private-member-variables-in-classes'
WarningsAsErrors: '0'
HeaderFilterRegex: ''
FormatStyle:     none
